<section class="container-fluid pointer-event" routerLink="/agency/{{data.index}}">
  <div class="row">
    <div class="col-3 col-sm-2 col-md-2 col-xl-1 align-content-center my-auto">
      <img  class="rounded-circle w-100" [src]="url"/>
    </div>
    <div class="col-6 col-sm-8 col-md-8 col-xl-10 my-auto">
      <div class="container">
        <h1 class="row">{{data.agencia}}</h1>
        <h2 class="row">{{data.provincia}}</h2>
        <h3 class="row text-black-50">{{data.direccion}}&nbsp;&nbsp;
          <a class="text-dark" (click)="openMap($event)" target="_blank">(Ver mapa)</a>
        </h3>
      </div>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-xl-1 my-auto pointer-event">
      <mat-icon [class.isStar]="data.star" (click)="onSave($event)">
        {{data.star ? "star" : "star_border"}}
      </mat-icon>
    </div>
  </div>
</section>
