<section class="container-fluid header">
  <div class="container">
    <form class="row">
      <mat-form-field color="accent" class="col-11 m-auto">
        <mat-label class="font-bold text-white">Agencias</mat-label>
        <input [formControl]="value"  type="search" matInput placeholder="Nombre de la agencia">
        <mat-icon matSuffix color="accent">search</mat-icon>
        <mat-icon matSuffix color="accent">check_circle</mat-icon>
      </mat-form-field>
    </form>
  </div>
</section>
